.loader {
  margin: 20px;
  height: 40px;
  width: 40px;
  background: transparent;
  border-radius: 50%;
  border-top: 4px solid #F5C518;
  border-right: 4px solid transparent;
  border-bottom: none;
  border-left: none;
  animation: spinner 700ms linear infinite;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}


