.containerLoader {
  display: flex;
  justify-content: center;
  margin: 0 20px;
}

.notFoundItem {
  color: #FFF;
  font-size: 16px;
  margin: 40px 30px 0;
  text-align: center;
}

.containerLink {
  text-align: center;
  margin-top: 20px;
}

.linkToHome {
  color: #F5C518;
  cursor: pointer;
}

.linkToHome:hover {
  color: #dbb21b;
}