.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
}

.containerList {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px,250px));
  width: 100%;
  justify-content: center;
  gap: 20px;
  margin: 30px 0;
}

.textLoading {
  color: #FFF;
  margin-top: 10px;
}

.notFoundItem {
  color: #FFF;
  font-size: 16px;
  margin: 40px 30px 0;
  text-align: center;
  width: 100%;
}

.containerShareLink {
  margin: 20px 0;
  width: 300px;
  text-align: center;
}