* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
  appearance: none;
  border: 0;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background: #121212;
}

.containerApp {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}