.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 0 20px;
}

.imgMovie {
  max-width: 100%;
  height: auto;
  max-height: 600px;
}

.containerShareLink{
  margin: 20px 0;
  width: 100%;
}



.containerDetails {
  width: 100%;
  max-width: 1000px;
}

.movieName {
  color: #FFF;
  margin-bottom: 15px;
}

.movieYear {
  color: #FFF;
  margin-bottom: 15px;
}

.movieDescription {
  color: #FFF;
  margin-bottom: 15px;
}

.titleActor {
  color: #FFF;
}

.containerActor{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(150px,150px));
  width: 100%;
  gap: 20px;
  margin: 30px 0;
}

.imageActor {
  border-radius: 10px;
  max-width: 100%;
  height: auto;
}

.nameActor {
  color: #FFF;
  margin-top: 10px;
}

.characterActor {
  color: #FFF;
  margin-top: 5px;
}


