.container {
  display: flex;
  gap: 20px;
  width: 100%;
  justify-content: center;
}

.input {
  padding: 10px;
  border-radius: 3px;
  width: 100%;
  max-width: 600px;
  height: 40px;
}

.button {
  color: black;
  background: #F5C518;
  border: none;
  padding: 10px;
  border-radius: 3px;
  cursor: pointer;
}

.button:hover {
  background: #dbb21b;
}