.container {
  text-align: center;
}

.notFoundPage {
  color: #FFF;
  margin: 40px 30px 0;
  text-align: center;
  margin-bottom: 20px;
}

.linkToHome {
  color: #F5C518;
  cursor: pointer;
}

.linkToHome:hover {
  color: #dbb21b;
}